<!DOCTYPE html>
<html>
<head>
    <style>
        td, th {
            border: solid 1px grey;
            padding: 5px;
        }
        table {
            border-collapse: collapse;
        }
    </style>
    <title>{{ title ?? 'Virail' }}</title>
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
</div>
</body>
</html>