<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>{{ title ?? 'Virail' }}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
</div>
</body>
</html>